body{
    background-image: url('/art-home/images/sea.jpg');
}

.body{
    background-color:#ffffff;
    margin-left: 2em;
    margin-right: 2em;
}

header{
    width:100% !important;
    margin-bottom: 0px !important;
}

#advertize{
    height: 3em;
    margin-bottom: 0.5em;
}

#brand{
    display: block;
    float: left;
    padding: 10px 20px 10px;
    margin-left: -20px;
    font-size: 22px;
    font-weight: 300;
    color: white;
    margin-right: 2em;
}

#main_tabcontent {
    overflow: visible;
}

#criteriaInfo {
    margin-right: 1em;
}


section{
    margin: 1em;
    background-color: #eeeeee;
    border: 1px solid #ddd;
    padding: 15px;
}

#content{
    background-color:#ffffff;
    margin-top: 0px;
    padding: 2em;
}

#references-container{
    display : flex;
    display: -webkit-flex;
}
#references-container section{
    width:50%;
}

#references-container>div{
    width:50%;
}

#artiste_examples{
    margin-top: 20px;
    margin-bottom: 20px;
}

#artiste_examples iframe{
    margin-bottom: 10px;
}



