body{
    background-image: url('/Users/macecyri/Dropbox/Photos/Canada/divers/DSCF0320.jpg');
}

.body{
    background-color:rgb(215, 223, 24);
    margin-left: 2em;
    margin-right: 2em;
}

#advertize{
    height: 3em;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
}

.dropdown-menu{
    z-index: 100000;
}
